@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: none;
}

$themeBlue: #1e2d7d;
$themeTaqu: #33c8e2;

$themeWhite: #f3f5f6;
$themeDark: #677279;

$generalPadding: 0 50px;
$reachUsHeight: 42px;
$brandMinHeight: 84px;

html,
body {
  @apply p-0 m-0;
  box-sizing: border-box;
  font-family: "DIN Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.87;
}

body {
  // background: $themeWhite;
  @apply bg-brand-3;
}

// GLOBALS

.scecomm-container {
  @apply px-5 md:px-8 lg:px-12;
}

.title-action {
  @apply flex justify-between;

  h3 {
    @apply text-2xl text-gray-800 font-bold;
  }

  a {
    @apply flex font-bold text-base text-brand-1 transition-all duration-500;

    svg {
      @apply -ml-5 opacity-20;
    }

    &:hover {
      svg {
        @apply ml-2 opacity-100;
      }
    }
  }
}

// GLOBALS END

.discounts-special-offers {
  background-color: $themeWhite;
  height: 40vh;
  width: 100%;
  @apply flex flex-col justify-center items-center;

  .close-btn {
    cursor: pointer;

    i.ti-close {
      font-size: 24px;
      color: #111111;
      margin-bottom: 10px;

      &:hover {
        background: rgba(red, 0.4);
        padding: 12px;
        border-radius: 50%;
      }
    }
  }

  h2 {
    @apply text-brand-1 text-center w-full text-3xl  font-semibold;
  }

  p {
    @apply text-brand-4 text-center w-full text-lg;
  }

  form {
    @apply w-1/2 flex justify-center;

    input {
      width: 50%;
      height: 100%;
      @apply p-3 rounded mb-2;
    }
    button {
      @apply bg-brand-2 text-brand-3 rounded ml-2 py-2 px-5;
    }
  }
}

header.breadcrumbs {
  @apply my-5 text-brand-4 text-sm;
}

// end globals

// NAVBAR
.navbar-wrapper {
  header {
    @apply bg-gradient-to-bl from-brand-2  via-brand-1 to-brand-1;

    .reach-us {
      @apply flex justify-between items-center;

      padding: $generalPadding;
      height: $reachUsHeight;
      border-bottom: 1px rgba($themeWhite, 0.4) solid;

      .contact-info {
        color: $themeWhite;
      }

      button {
        @apply flex justify-between items-center;
        border: none;
        background-color: $themeTaqu;
        color: $themeWhite;
        height: 100%;
        padding: calc(#{$reachUsHeight} / 2);
      }
    }

    .brand-name-search {
      @apply flex justify-between items-center;

      padding: $generalPadding;
      min-height: $brandMinHeight;
      width: 100%;

      a {
        font-size: 20px;
        color: $themeWhite;
      }

      form {
        @apply flex justify-between;
        width: 85%;
        height: 44px;
        // overflow: hidden;
        @apply bg-brand-3 rounded-md;

        input {
          width: 79%;
          background-color: transparent;
          border: none;
          outline: none;
          padding: 0 10px;

          &:focus {
            outline: none;
          }
        }

        select {
          width: 15%;
          background-color: transparent;
          border: none;
        }
        button {
          border: none;
          @apply flex justify-center items-center bg-transparent;
          width: 5%;
          height: 100%;

          i {
            color: white;
            font-size: 22px;
          }
        }

        .search-results-wrapper {
          @apply relative z-50;

          .search-results {
            @apply absolute top-20 right-0 bg-brand-1 text-white p-2;

            overflow-y: scroll;
            max-height: 40vh;

            p {
              @apply p-1 hover:text-brand-2 cursor-pointer;

              min-width: 400px;

              &:not(:first-child) {
                @apply border-t  border-brand-3;
              }

              a {
                @apply w-full hover:text-brand-2;
              }
            }
          }
        }
      }
    }
  }

  nav {
    @apply flex justify-between items-center bg-white;
    height: 64px;
    border-bottom: 1px rgba($themeDark, 0.4) solid;
    padding: $generalPadding;
    width: 100%;

    ul {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $themeDark;
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }

      span {
        color: $themeDark;
        font-size: 16px;
      }
    }
  }
}

section.filterable.products-view {
  @apply m-0;

  header.product-actions {
    @apply flex flex-col  justify-between px-7 py-6;

    border-bottom: 1px rgba($themeDark, 0.4) solid;
    height: 120px;

    h3 {
      @apply text-2xl text-brand-1 font-semibold;
    }

    .sorting {
      @apply flex justify-between items-center;

      .products-shown {
        @apply text-brand-4;
      }

      .per-page-group {
        @apply text-brand-4;

        label.per-page-select {
        }

        select.per-page-select {
          @apply border-0  text-brand-4 text-center h-10 px-2 bg-white  focus:outline-none appearance-none;
        }
      }

      .sort-group {
        @apply text-brand-4;

        label.sort-by-select {
        }

        select.sort-by-select {
          @apply border-0  text-brand-4 text-center h-10 px-2 bg-white focus:outline-none appearance-none;
        }
      }

      .product-view-style {
        @apply text-brand-4;

        i {
          @apply ml-3;

          &.active {
            @apply text-brand-1;
          }
        }
      }
    }
  }

  .product-list {
    background: white;
    border: none !important;

    @apply w-full rounded-md flex  flex-wrap m-0;

    .product {
      height: 390px;
      @apply w-1/2 lg:w-1/3 xl:w-1/4 p-4 flex flex-col justify-between cursor-pointer;
      border-bottom: 1px rgba($themeDark, 0.4) solid;

      img {
        max-height: 60%;
      }

      &-info {
        height: 40%;
        @apply pt-5 flex flex-col gap-2;

        h4 {
          color: $themeDark;
          text-transform: uppercase;
          @apply text-sm;
        }

        h3 {
          @apply text-brand-1 text-base font-semibold;
        }

        p {
          @apply text-brand-2 text-xl;
        }
      }

      &:not(:first-child) {
        border-left: 1px rgba($themeDark, 0.4) solid;
      }
    }
  }

  &.listed {
    .product-list {
      background: white;
      border: 1px rgba($themeDark, 0.4) solid;

      @apply w-full rounded-md flex flex-row mt-5;

      .product {
        height: 90px !important;
        width: 100% !important;
        @apply p-4 flex flex-row justify-between cursor-pointer;

        img {
          max-height: 100% !important;
          object-fit: contain !important;
          @apply w-1/5;
        }

        &-info {
          height: 100% !important;
          @apply pt-5 flex flex-row justify-between w-4/5;

          h4 {
            @apply text-sm w-1/5;
          }

          h3 {
            @apply text-brand-1 text-base font-semibold w-3/5;
          }

          p {
            @apply text-brand-2 text-xl;
          }
        }

        &:not(:last-child) {
          // border-right: 1px rgba($themeDark, 0.4) solid;
        }
      }
    }
  }
}

footer {
  @apply flex justify-between mb-5;

  height: 50vh;

  .info {
    width: 70%;

    @apply flex flex-col justify-between;

    .drive {
      h3 {
        @apply text-brand-1   text-base;
      }

      p {
        @apply text-brand-4 mt-5;
        font-size: 16px;
        span {
          @apply text-brand-1   text-base;
        }
      }
    }

    .copyright {
      @apply text-brand-4;
      font-size: 20px;
    }
  }

  .footer-links {
    width: 20%;

    h3 {
      @apply text-brand-1   text-base;
    }

    ul {
      @apply flex flex-col gap-2;

      li {
        a {
          @apply text-brand-4;
          font-size: 16px;
        }
      }
    }
  }
}

// COLLECTIONS

main.collections-wrapper {
  @apply bg-brand-3;

  // min-height:70vh;

  div.collections {
    @apply flex justify-between gap-10;

    aside.collections-filters {
      @apply bg-white p-5 w-3/12 lg:w-1/5 rounded-md;
      min-height: 100px;
      border: 1px rgba($themeDark, 0.4) solid;

      h1 {
        @apply text-brand-1 text-2xl font-semibold;
      }

      .filter-group {
        @apply my-6;

        h3.title {
          @apply text-brand-1 text-base font-semibold;
        }

        .filter-list {
          @apply my-2;

          .filter {
            input {
            }

            label {
            }
          }
        }
      }
    }

    section.collections-products {
      border: 1px rgba($themeDark, 0.4) solid;

      @apply bg-white w-9/12 lg:w-4/5 rounded-md h-auto;
    }
  }
}

// COLLECTIONS end

// PRODUCT VIEW
.product-view-wrapper {
  section.product-view {
    @apply flex justify-between gap-8;
    // max-height: 70vh;

    .img-desc {
      @apply w-6/12 flex flex-col;

      .product-image {
        @apply bg-white flex justify-center rounded-md;
        border: 1px rgba($themeDark, 0.4) solid;

        img {
          @apply p-5 w-full object-contain;
          height: 400px;
        }
      }

      .product-description {
        @apply bg-white p-4 mt-5 flex flex-col;

        h2 {
          @apply text-brand-4 font-semibold;
        }

        p {
          @apply text-brand-4;
        }
      }
    }

    .detail-snaps {
      @apply w-6/12;

      aside.product-details {
        @apply p-8  bg-white rounded-md;
        border: 1px rgba($themeDark, 0.4) solid;
        // max-height: 30vh;

        .info {
          border-bottom: 1px rgba($themeDark, 0.4) solid;

          h1 {
            @apply text-brand-1 text-3xl font-semibold;
          }

          .category-tags {
            @apply mt-2 flex flex-col;

            .product-categories {
              .category {
                @apply px-2 py-1 bg-brand-1 text-sm rounded-sm text-white;

                a {
                }

                &:not(:last-child) {
                  @apply mr-3;
                }
              }
            }

            .product-tags {
              .tag {
                @apply px-2 py-1 bg-brand-3 text-sm rounded-sm text-gray-600;
              }
            }
          }

          .share-brand {
            @apply flex justify-between my-4;

            .brand {
              @apply uppercase text-brand-4;
            }

            .share {
              @apply text-brand-4 hover:text-brand-1;
            }
          }
        }

        .price-purchase {
          @apply py-4 flex justify-between items-center;

          .price {
            label {
              @apply text-brand-1 font-semibold;
            }

            span {
              @apply text-brand-2 text-xl font-semibold;
            }
          }

          .quantity {
            label {
              @apply text-brand-1 font-semibold;
            }

            select {
              @apply text-brand-1 font-semibold p-1;
            }
          }

          button {
            @apply text-white bg-brand-1 text-center w-2/6 rounded-lg flex justify-center items-center px-8 py-3 font-semibold;

            span {
              .cart-icon {
                @apply ml-1;
              }
            }

            &:hover {
              span {
                .cart-icon {
                  @apply ml-1 opacity-0 animate-cart;
                }
              }
            }
          }
        }
      }

      .snapshots {
        @apply w-full p-2 mt-5 flex flex-row flex-wrap gap-1;

        img {
          @apply h-20  p-1 bg-brand-3 hover:bg-brand-2;
        }
      }
    }
  }

  //UNDER PRODUCT VIEW

  section.similar-products {
    @apply my-5 flex flex-col rounded-md w-1/2;

    .header {
      @apply p-3 bg-white;
      h3 {
        @apply text-brand-1;
      }
    }

    .similar-products-list {
      @apply flex gap-3 flex-wrap p-3 w-full bg-white rounded-sm;

      .similar-product {
        @apply w-1/5 h-52 p-1 cursor-pointer;
        border: 1px rgba($themeDark, 0.2) solid;
        img {
          @apply h-2/3;
        }
        .product-info {
          @apply h-1/3;

          h6 {
            @apply text-sm;
          }

          h5 {
            @apply text-sm text-brand-1;
          }

          p {
            @apply text-sm text-brand-2;
          }
        }
      }
    }
  }
}
// PRODUCT VIEW end

// CATEGORIES PAGE

div.categories-wrapper {
  section.categories {
    @apply flex justify-start flex-wrap gap-6;

    a {
      @apply w-1/6;

      .category {
        @apply overflow-hidden  rounded-md bg-brand-1 h-28 cursor-pointer hover:bg-brand-2 transition-all ease-in-out delay-75;

        .category-cloak {
          @apply h-full w-full flex justify-center items-center bg-brand-1 bg-opacity-80;

          span {
            @apply text-white;
          }
        }

        &:hover {
          @apply bg-opacity-30;

          .category-cloak {
            @apply bg-brand-1 bg-opacity-40;

            span {
              @apply font-bold;
            }
          }
        }
      }
    }
  }
}
// CATEGORIES PAGE END

.payment-portal {
  @apply flex flex-col justify-center items-center min-h-full;
}
